.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /* max-width: 70vw; */
    margin: auto;
}
.main .text h1{
    color: black;
}
.main .photo img{
    position: relative;
    z-index: 10;
}
.main .photo{
    position: relative;
}
.main .photo video{
    width: 555px;
    position: absolute;
    top:55px;
    right: 0;
}