<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You are about to edit data of ID: <%=user.id%></h2>
    
    <form method="post" action="http://localhost:3000/user/<%=user.id%>?_method=PATCH">
        <textarea name="username"><%=user.username%></textarea>
        <input type="password" name="password" placeholder="Enter Your password">
        <button>edit</button>
    </form>
</body>
</html>