<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details:-</h1>
    <h3>ID:-</h3>
    <h5><%= post.id %></h5>
    <h3>username:-</h3>
    <h5><%=post.username %></h5>
    <h3>Content:-</h3>
    <h5><%=post.content%></h5>
    <a href="http://localhost:3000/posts">Back</a>
</body>
</html>